resources:
- name: {{ env["deployment"] }}-api-serviceaccount
  type: iam.v1.serviceAccount
  properties:
    accountId: {{ env["deployment"] }}-svc
    displayName: {{ env["deployment"] }}-svc

- name: {{ env["deployment"] }}-api-svc-key
  type: iam.v1.serviceAccounts.key
  properties:
    parent: $(ref.{{ env["deployment"] }}-api-serviceaccount.name)
